/*
    justify-content: center;  Alinha os itens horizontalmente ao centro 
    align-items: center;  Alinha os itens verticalmente ao centro 
    text-align: center;  Alinha o texto horizontalmente 
*/

/* Importação de fontes */
@font-face {
  font-family: 'Poppins-Regular';
  src: url('../font/poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../font/poppins/Poppins-Bold.ttf') format('truetype');
}


@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes moveLeftRight {
  0% { transform: translate(-100%, -50%); }
  100% { transform: translate(100%, -50%); }
}


/* Estilos gerais */
body {
  background-color: #e1dbdb;
  font-family: 'Poppins-Regular', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

table, tr, td {
  border: 0;
  text-align: left;
}

#td-ico {
  text-align: center;
  width: 50%;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.left-column {
  flex: 3;
  margin: 20px;
}

.quadro-infor-tickets {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 60vh;
  border-radius: 2rem;
  border-top: 2vh solid;
  border-color: #0d6a5e;
  background-color: #f0f0f0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.estatisticas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 30vh;
  border-radius: 2rem;
  background-color: #f0f0f0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.quadros {
  margin: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60%;
  justify-content: center;
  align-items: center;
}


#Q01, #Q02, #Q03 {
  font-size: 0.8rem;
  flex-grow: 1;
  text-align: center;
  justify-content: space-between;
  border-radius: 1rem;
  margin: 1vw;
  height: 100%;
  width: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#Q02{
  display: none;
}

#img_tempo{
  width: 30%;
  /*animation: fadeInOut 6s ease-in-out infinite, moveLeftRight 6s linear infinite;*/
}


#icon-estatisticas {
  max-width: 40%;
}



#defineGuiche {
  text-align: center;
  color: #f0f0f0;
  background-color: #0d6a5e;
  margin-top: 8%;
  border: none;
  width: 70%;
  height: 30%;
}

.right-column {
  height: 100vh;
  width: 15vw;
  background-color: #f0f0f0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 2%;
}

#tickets{
  margin-top: 2vh;
  height: 75vh;
}

.version{
  font-size: 0.8rem;
  height: 3vh;
  text-align: right;
}

.botoesSup, .botoesInf {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 80%;
  -ms-flex-align: end;
}

.botoesInf {
  margin-top: 2%;
  width: 100%;
}

.btn, 
.btn-success {
  padding: 1%;
  font-size: 80%;
  margin: 0.2%;
}

.btn-success {
  background-color: #0d6a5e;
}

.btn:hover {
  color: whitesmoke;
  background-color: #16b1a1;
  transform: scale(1.1);
}

.btn:active {
  transform: scale(0.90);
}














/* Responsividade para diferentes dispositivos */

/* Celulares ------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  #ticketInfo {
    overflow: hidden; /* Esconde o conteúdo que ultrapassa o limite do container */
    font-size: 1.5rem;
  }
  .quadro-infor-tickets {
    height: 75vh;
  }
  .estatisticas {
    height: 10vh;
  }
  h3, #Q01, #Q02, .titulos-quadros {
    display: none;
  }
  #defineGuiche {
    margin-top: 0%;
    height: 5vh;
  }
  .right-column {
    font-size: 0.5rem;
  }
  .titulo-right-column{
    font-size: 1rem;
  }
}




/* Tablets ------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 769px) and (max-width: 1023px) {
  #ticketInfo {
    overflow: hidden; /* Esconde o conteúdo que ultrapassa o limite do container */
    font-size: 2rem;
  }
  .estatisticas {
    height: 20vh;
  }
  .titulos-quadros {
    font-size: 0.6rem;
  }
  .right-column {
    font-size: 0.7rem;
  }
  .titulo-right-column{
    font-size: 1.5rem;
  }
  #Q01-dados {
    font-size: 1rem;
  }
}





/* Computadores ------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 1024px) {
  #ticketInfo {
    overflow: hidden; /* Esconde o conteúdo que ultrapassa o limite do container */
    flex-wrap: nowrap;
    font-size: 3rem;
    height: 20%;
    margin: 2%;
  }

  .titulos-quadros {
    font-size: 1.2rem;
  }

  .right-column {
    font-size: 1rem;
  }

  .titulo-right-column{
    font-size: 2rem;
  }

  .titulo-left-column{
    margin-top: -2%;
    margin-bottom: 1%;
    font-size: 2rem;
  }

  #Q01-dados {
    font-size: 3rem;
  }
}





/* Computadores com altura máxima de 500px ------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-height: 500px) {
  .estatisticas {
    display: none;
  }
  .quadro-infor-tickets {
    height: 90vh;
  }
  #Q03 {
    display: block;
  }
}
