/* Importação de fontes */
@font-face {
    font-family: Poppins-Regular;
    src: url('../font/poppins/Poppins-Regular.ttf') format('truetype');

}

@font-face {
    font-family: Poppins-Bold;
    src: url('../font/poppins/Poppins-Bold.ttf') format('truetype');
}


.rodape {
    font-family: Poppins-Regular, Arial, sans-serif;
    /* Use MyFont como a fonte padrão, mas fornecer fallbacks */
    background-color: #f0f0f0;
    display: flex;
    /* Torna o container flexível */
    flex-wrap: nowrap;
    justify-content: center;
    /* Alinha os itens horizontalmente ao centro */
    align-items: center;
    /* Alinha os itens verticalmente ao centro */
    margin-top: 1vh;
    height: 12vh;
    /* Altura do container */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.data-hora {
    font-size: 3vw;
    flex-wrap: nowrap;
    text-align: center;
    width: 50%;
}

#data {
    width: 50%;
    margin-right: 2vw;
}

#hora {
    margin-left: 2vw;
    width: 50%;
}

.logosHRN-E,
.logosHRN-D {
    display: flex;
    /* Torna o container flexível */
    justify-content: center;
    /* Alinha os itens horizontalmente ao centro */
    align-items: center;
    /* Alinha os itens verticalmente ao centro */
    width: 25%;
    height: 4vw;
}

.ico-logosHRN {
    height: 100%;
}

/* Estilos opcionais para esconder/mostrar elementos */
#selectLocal {
    display: flex;
    height: 100vh;
    background-color: #414141;
    justify-content: center; 
    align-items: center;  
    text-align: center; 
  }

#formLocalAtendimento{
    font-family: Poppins-Regular, Arial, sans-serif;
    /* Use MyFont como a fonte padrão, mas fornecer fallbacks */
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;

    justify-content: center; 
    align-items: center;  
    text-align: center; 
    
    height: 50%;
    width: 30%;
    border-radius: 10%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#title_form{
  font-size: 2rem;
}

#localAtendimento{
    padding: 2%;
    margin: 10%;
    width: 60%;
    text-align: center; 
}


