@media screen and (max-width: 768px){/*Celulares*/
    .rodape{
    font-size: 2rem;
    }
    .left-column{
        font-size: 1.5rem;
    }
    #ticketChamado{
        font-size: 2.3rem;
    }
}

@media screen and (min-width: 767px) and (max-width: 1023px){/*Tablets*/
    .rodape{
    font-size: 2.5rem;
    }
    .container{
        height: 20vw;
    }
    .left-column{
        font-size: 2rem;
    }
    #ticketChamado{
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px){/*Computadores*/
    .rodape{
    font-size: 4rem;
    }
    .left-column{
        font-size: 3rem;
    }
    #ticketChamado{
        font-size: 6rem;
    }
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e1dbdb;
}

.container {
    display: flex; /* Torna o container flexível */
    justify-content: center; /* Alinha os itens horizontalmente ao centro */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    text-align: center; /* Alinha o texto horizontalmente */
    height: 85vh; /* Altura do container */
    width: 100vw;
    border-radius: 300px;
}

.left-column { /*Centralizações H e V*/
    display: flex; /* Torna as colunas flexíveis */
    flex-direction: column; /* Define a direção do layout como coluna */
    justify-content: center; /* Alinha os itens verticalmente ao centro */
    align-items: center; /* Alinha os itens horizontalmente ao centro */
    white-space: nowrap; /* Impede que o texto quebre */
}

.left-column {
    flex: 3; /* Ajusta a proporção da coluna da esquerda */
    background-color: #f0f0f0;
    padding: 20px;
    height: 85vh;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
}

.right-column {
    flex: 1; /* Ajusta a proporção da coluna da direita */
    background-color: #ccc;
    padding: 20px;
    height: 85vh;
}

.rodape{
    display: flex; /* Torna o container flexível */
    flex-wrap: wrap;
    justify-content: center; /* Alinha os itens horizontalmente ao centro */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    height: 15vh; /* Altura do container */
}

  