/*
    justify-content: center;  Alinha os itens horizontalmente ao centro 
    align-items: center;  Alinha os itens verticalmente ao centro 
    text-align: center;  Alinha o texto horizontalmente 
*/



/* Responsividade para diferentes dispositivos */


/* Celulares ------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 768px) {

  .item1,
  .item1-2 {
    font-size: 1.3rem;
  }
}



/* Tablets ------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 767px) and (max-width: 1023px) {

  .item1,
  .item1-2 {
    font-size: 2rem;
  }
}



/* Computadores ------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 1024px) {

  .item1,
  .item1-2 {
    font-size: 2.5rem;
  }
}



/* Computadores com altura máxima de 500px ------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-height: 500px) {}





/* Importação de fontes */
@font-face {
  font-family: Poppins-Regular;
  src: url('../font/poppins/Poppins-Regular.ttf') format('truetype');

}

@font-face {
  font-family: Poppins-Bold;
  src: url('../font/poppins/Poppins-Bold.ttf') format('truetype');
}





/*Animações*/
@keyframes moveBG-BTN {
  0% {

    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {

    background-position: 0% 0%;
  }
}




/* Estilos gerais */
body {
  background-image: url("../imgs/hrn-20.png");
  background-color: #f0f0f0;
  /* Cor de fundo sem opacidade */
  background-position: center;
  /* Centraliza a imagem */
  background-size: cover;
  /* Redimensiona a imagem de fundo para cobrir todo o contêiner */
  position: relative;
  /* Define a posição relativa para que os elementos posicionados absolutamente fiquem relativos a este */

  /*Desabilitar a Seleção de Texto*/
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Outros navegadores */
}

.container{
  display: flex;
  justify-content: center;  
  align-items: center;  
  text-align: center;  
}
.botoes {
  font-family: Poppins-Bold, Arial, sans-serif;
  /* Use MyFont como a fonte padrão, mas fornecer fallbacks */
  display: flex;
  flex-wrap: wrap;
  height: 85vh;
  /* 100% da altura da viewport */
  text-align: center
    /*Alinha os textos ao centro horizontalmente*/
  ;
  justify-content: center;
  /* Alinha os itens horizontalmente ao centro */
  align-items: center;
  /* Alinha os itens verticalmente ao centro */
}

.item1 {
  width: 91% !important;
}

.item1,
.item1-2 {
  display: flex;
  width: calc(90% / 2);
  /* Cada item ocupa metade da largura da tela */
  height: 28vh;
  /* Cada item ocupa 1/3 da altura da tela */
  text-align: center;
    /*Alinha os textos ao centro horizontalmente*/
  justify-content: center;
  /* Alinha os itens horizontalmente ao centro */
  margin-right: 1%;
  align-items: center;
  /* Alinha os itens verticalmente ao centro */
}

.tipoTicket:not(#O) {
  height: 90%;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(to bottom right, #008e88, #009993, #0d426a);
  border-radius: 2rem;
  color: white;
}


/*
.tipoTicket:hover{
    background-image: linear-gradient(to bottom right, #FFC300,#FFC300,#FFC300);
    color: black;
    transform: scale(1.1); 
}
*/

.tipoTicket:active {
  transform: scale(0.80);
  background-image: linear-gradient(to bottom right, #FFC300, #FFC300, #FFC300);
  color: black;
}

#O {
  height: 90%;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(to right, #074e39, #009993, #0d426a);
  border-radius: 2rem;
  color: white;
  background-size: 200% 200%;
  animation: moveBG-BTN 5s ease infinite;
}

.ico-seta-E,
.ico-seta-D {
  width: 10vw;
  height: 20vh;
  margin: 60px black;
}

.ico-seta-E {
  margin-left: -3vw;
  transform: rotate(180deg);
}

.ico-seta-D {
  margin-left: -2vw;
}