/*
    justify-content: center;  Alinha os itens horizontalmente ao centro 
    align-items: center;  Alinha os itens verticalmente ao centro 
    text-align: center;  Alinha o texto horizontalmente 
*/

/* Responsividade para diferentes dispositivos */


/* Celulares ------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    .left-column {
        font-size: 1.5rem;
    }

    .right-column {
        font-size: 1rem;
        padding: 10vw;
    }

    table,
    th,
    td {
        padding: 3vh;
    }

    #ticketChamado {
        font-size: 2.3rem;
    }
}



/* Tablets ------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 767px) and (max-width: 1023px) {
    .left-column {
        font-size: 2rem;
    }

    .right-column {
        font-size: 0.8rem;
    }

    th,
    td {
        padding: 3vh;
    }

    #ticketChamado {
        font-size: 3rem;
    }
}



/* Computadores ------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 1024px) {
    .left-column {
        font-size: 2.5rem;
    }

    .right-column {
        font-size: 1.4rem;
    }

    th,
    td {
        padding: 4vh;
    }

    #ticketChamado {
        font-size: 10rem;
    }
}



/* Computadores com altura máxima de 500px ------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-height: 500px) {}





/* Importação de fontes */
@font-face {
    font-family: Poppins-Regular;
    src: url('../font/poppins/Poppins-Regular.ttf') format('truetype');

}

@font-face {
    font-family: Poppins-Bold;
    src: url('../font/poppins/Poppins-Bold.ttf') format('truetype');
}



/*Animações*/
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


@keyframes flash-animation {
    0% {
        opacity: 1;
    }

    /* Define a opacidade inicial como 100% (totalmente visível) */
    50% {
        opacity: 0;
    }

    /* Define a opacidade como 0% (invisível) no meio da animação */
    100% {
        opacity: 1;
    }

    /* Define a opacidade final como 100% (totalmente visível) */
}







/* Estilos gerais */
body {
    font-family: Poppins-Regular, Arial, sans-serif;
    /* Use MyFont como a fonte padrão, mas fornecer fallbacks */
    background-color: #e1dbdb;
}

.flash {
    color: red;
    animation: flash-animation 1s 3;
    /* Define a animação 'flash-animation' com uma duração de 1 segundo e 3 repetições */
}

.container {
    display: flex;
    /* Torna o container flexível */
    height: 83vh;
    /* Altura do container */
    width: 100vw;
    margin-top: 2vh;

}

.left-column {
    /*Centralizações H e V*/
    display: flex;
    /* Torna as colunas flexíveis */
    flex-direction: column;
    /* Define a direção do layout como coluna */
    justify-content: center;
    /* Alinha os itens verticalmente ao centro */
    align-items: center;
    /* Alinha os itens horizontalmente ao centro */
    white-space: nowrap;
    /* Impede que o texto quebre */
}

.left-column {
    position: relative;
    /* Estabelece um contexto para a pseudoclasse ::before */
    flex: 3;
    background-color: #f0f0f0;

    border-left: 3rem solid;
    border-radius: 5rem 0 0 5rem;
    border-color: #0d6a5e;

}

#ticketChamado {
    text-align: center;
}

.right-column {
    display: flex;
    /* Torna as colunas flexíveis */
    flex-direction: column;
    /* Define a direção do layout como coluna */
    justify-content: center;
    /* Alinha os itens verticalmente ao centro */
    align-items: center;
    /* Alinha os itens horizontalmente ao centro */
    text-align: center;
    /* Alinha os textos horizontalmente ao centro */
    white-space: wrap;
    /* Impede que o texto quebre */
    width: 15vw;
    background-color: #cccccc;
    padding: 20px;

}

#ticketsAnteriores {
    display: flex;
    /* Torna as colunas flexíveis */
    flex-direction: column;
    /* Define a direção do layout como coluna */
    justify-content: center;
    /* Alinha os itens verticalmente ao centro */
    align-items: center;
    /* Alinha os itens horizontalmente ao centro */
    white-space: nowrap;
    /* Impede que o texto quebre */
    height: 70vh;
}

table {
    margin-top: 10%;
    height: 100%;
    width: 100%;
    justify-content: center;
    /*Alinha os itens horizontalmente ao centro*/
    align-items: center;
    /* Alinha os itens horizontalmente ao centro */
}


th,
td {
    background-color: #f0f0f0;
    width: 100vw;
    text-align: center;
    /*Alinha os textos horizontalmente ao centro*/
    justify-content: center;
    /*Alinha os itens horizontalmente ao centro*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}